<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a href="/">Dashboard</a>
        <a href="/logs">Attendance Logs</a>
        <a href="/employees">Registered Employees</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/scripts.js"></script>
</body>

<!-- Flash Messages ( remove ) -->
<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

</html>
