# Ignore virtual environments
venv/
env/
face_recognition_env/

# Ignore large model/data files
*.dat
*.pyd

# Ignore compiled Python files
__pycache__/
*.pyc
recognition/shape_predictor_68_face_landmarks_GTX.dat
